<% include partials/_head.ejs %>
<div class="container">
  <section style="height: 80vh; display: -webkit-box;">
    <div class="card" style="padding: 25px 30px 25px 30px;">
      <form action="/users/password/<%= user._id %>" method="POST">
        <h1>Cambiar contrase単a</h1>

        <label for="password">Contrase単a</label>
        <div class="form-input">
          <input type="password" name="password" id="password" placeholder="Write your password"
          required pattern=".{5,10}" title="5 to 10 characters">
        </div>

        <label for="password">Verificar contrase単a</label>
        <div class="form-input">
          <input type="password" name="Vpassword" id="password" placeholder="Repeat Password"
          required pattern=".{5,10}" title="5 to 10 characters">
        </div>
        <button type="submit" class="btn btn-setting">Actualizar contrase単a</button>
      </form>
      
    </div>
  </section>
<% include partials/_footer.ejs %>